<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Folder</title>
  </head>
  <body>
    <form action="/folder" method="post">
      <label for="folder-name">Folder name:</label>
      <input type="text" name="folderName" id="folder-name" />
      <button type="submit">create</button>
    </form>
  </body>
</html>
