<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <% if(locals.errors){ %> <% for(let err of locals.erros){ %>
    <div><%= err.message %></div>
    <% } %> <% } %>
    <form action="/register" method="post">
      <label for="first-name">First Name: </label>
      <input type="text" name="firstName" id="first-name" />

      <label for="last-name">Last Name: </label>
      <input type="text" name="lastName" id="last-name" />

      <label for="email">Email: </label>
      <input type="email" name="email" id="email" />

      <label for="password">password: </label>
      <input type="password" name="password" id="password" />

      <label for="confirm-password">confirm password: </label>
      <input type="password" name="confirmPassword" id="confirm-password" />

      <button type="submit">submit</button>
    </form>
  </body>
</html>
